.sos{ font-size: 30px;
right:340px;

}
.soos{ font-size: 30px;
right:100px;
bottom:50px;
}
.telgram
{ font-size: 30px;
left:144px;
bottom:100px;
}


.hackedred{
  color:red ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 350px;
  left: 120px;
  font-size: 70px;
         color: ;
  text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 18px 	#0000FF,
      0 0 37px 	#0000FF,
      0 0 76px 	#0000FF,
      
    
      0 0 151px #0000FF;


}

.hacked6{    color:green ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 500px;
  left: 647px;
  font-size: 50px;
   text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #008000,
      0 0 42px #008000,
      0 0 82px #008000,
      0 0 92px #008000,
      0 0 102px #008000,
      0 0 151px #008000;
}

.hacked5{    color:white ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 500px;
  left: 540px;
  font-size: 50px;
   text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #FFFFFF,
      0 0 42px #FFFFFF,
      0 0 82px #FFFFFF,
      0 0 92px #FFFFFF,
      0 0 102px #FFFFFF,
      0 0 151px #FFFFFF;

}

  .hacked4{  
    color:yellow ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 500px;
  left: 435px;
  font-size: 50px;
     color: ;
  text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #FFFF00,
      0 0 42px #FFFF00,
      0 0 82px #FFFF00,
      0 0 92px #FFFF00,
      0 0 102px #FFFF00,
      0 0 151px #FFFF00;
  font-size: 50px;
}

.hacked2{
  color:red ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 500px;
  left: 237px;
 color: ;
  text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #FF0000,
      0 0 42px #FF0000,
      0 0 82px #FF0000,
      0 0 92px #FF0000,
      0 0 102px #FF0000,
      0 0 151px #FF0000;
  font-size: 50px;
}
.hacked3{
  color:white ;
font-family: Arial Rounded MT Bold;
  font-size:50px; 
  position: absolute;
  top: 500px;
  left: 350px;
  font-size: 50px;
       color: ;
  text-shadow:
      0 0 7px #000000,
      0 0 10px #000000,
      0 0 21px #FFFFFF,
      0 0 42px #FFFFFF,
      0 0 82px #FFFFFF,
      0 0 92px #FFFFFF,
      0 0 102px #FFFFFF,
      0 0 151px #FFFFFF;

}
center{
/* Ava commenta d css da */
color:#BC391D ;
font-family:Hand;
font-size:100px;
font:underline;100 24px 

}
body  {
  background-image: url("sosko.png");
}


button{
 color:#BC391D ;
font: small-caps bold 24px/1 sans-serif;;
font-size:50px;

}


button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

 button {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 
     0 0; }
}
.play{left:150;
  
}
.pasue{right:150;
  bottom:49;
}
